.thumb {
    width: 100px;
    height: 147px;
    float: left;
    margin: 2px 2px 5px 2px;
    overflow: hidden;

    img {
        width: 100px;
    }
}

.holder {
    overflow: hidden;
    position: relative;
    .text {
        position: relative;
        height: 400px;
        overflow: hidden;
        top: 0;
        left: 0;
        padding: 50px;
        margin-right: 712px;
        min-width: 550px;
        color: #fff;
    }
    .img {
        position: absolute;
        top: 0;
        right: 0;
        width: 712px;
        height: 400px;
        mask: url(#mask);
        .applogo {
            display: block;
            position: absolute;
            top: 0px;
            right: 40px;
            padding: 20px;
            text-align:center;
            background: #e50914;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0,0,0,1);
            -webkit-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.75);
        }
    }
}

.logo {
    width: 250px;
    margin-bottom: 10px;
    display: block;
}

h1,  h2 {
    color: #fff;
    line-height: 28px;
}

h2 {
    padding: 0 20px;
}

.shows,
//.x-body,
div.x-border-layout-ct {
    background: #000;
}

.thumb {
    border: 2px solid transparent;
}

.selected.thumb {
    border: 2px solid #e50914;
}

.over.thumb {
    border: 2px solid #ccc;
}