$enable-font-awesome: dynamic(true);

$base-color: #000;
$body-background-color: lighten(#000, 10%);
$color: #fff;
$enable-font-smoothing: true;

$font-size: 15px;



$list-item-background-color : #050505;
$list-item-border-color: lighten(#050505, 10%);
$toolbar-background-color : #e50914;
$toolbar-border-color : lighten(#050505, 10%);
$toolbar-title-color : #fff;
$button_background_color : #000000;
$button_color : #cfcbcb;